/* CSS Document */
p {
	color: black;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: antiquewhite;
	padding: 20px;
}

h1, h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:FireBrick;
}
.pozadina {
  background-color: black;
  background-image: url("pozadinaPZ.jpg"); 
  background-size: cover;
}
mark {
  background-color: rgba(178,34,34, 0.6);      
  color: black; 
  
       
}
a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
}
a:hover{
	background-color: darkgray;
}
img{
	height: 200px;
}
video{
	height: 200px;
}